.fact-content,
.fact-front,
.fact-back{
    position: absolute;
    
}
.fact-box{
    width: 240px;
    height: 240px;
}

.fact-content{
   transform-style: preserve-3d;
   transition: transform 0.5s ease;
   
}


.fact-front{
    background-color:#fff ;
    position: absolute;
}
.fact-back{
    background-color: rgb(68, 74, 74);
    position: absolute;
    padding: 40px;
    color:#fff;
    transform: rotateY(180deg);
}
    